* {box-sizing: border-box;}
BODY {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  INPUT {
    width: 90%;
    font-size: 1em;
  }
  BUTTON {
    width: 100%;
    font-size: 2em;
  }
}

NAV {
  H3 {
    // position: sticky;
    // top: 2em;
  }
  SECTION {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    A {
      display: inline-flex;
      width: 45vw;
      height: 15vw;
      text-align: center;
      border-radius: 1vw;
      border: 1px solid black;
      margin: 1vw;
      flex-flow: column;
      justify-content: center;
      DIV {
        flex: 0 0 auto;
      }
    }
  }
}

DIV.screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  HEADER {
    flex: 0 0 auto;
    border-bottom: 1px solid black;
    H1 {
      width: 100%;
      font-size: 1.5em;
    }
  }
  ARTICLE {
    flex: 0 1 auto;
    overflow: scroll;
    IMG {
      max-height: 80vh;
    }
  }
  FOOTER {
    flex: 0 0 auto;
    display: flex;
    border-top: 1px solid black;
    A {
      font-size: 1.5em;
      flex: 1 1 50%;
      border: 1px solid black;
    }
  }
}

TABLE.blend {
  width: 100%;
  TD:first-child {
    text-align: right;
    width: 15%;
  }
  TD:last-child {
    width: 15%;
  }
  INPUT {
    width: 100%;
    margin-top: 8px;
  }
}

TABLE.phonetic {
  margin: auto;
  TD {
    width: 50%;
  }
  TABLE {
    TD:first-child,
    TD:nth-child(2) {
      width: 1%;
      text-align: right;
    }
    TD:last-child {
      text-align: left;
    }
  }
}

A.donate {
  font-size: 3em;
}